:root{
    --color-fondo: #fff;
    --color-principal: #2c3e50;
    --fuente-principal: Arial, Helvetica;
    --color-text: black;

}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    color: var(--color-text);
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
section{ 
    padding: 20px; /* Añade espacio arriba/abajo y a los lados */
    max-width: 1400px;
    margin: 0 auto;     /* Centra todo el bloque de la sección */
}
.article {
    background-color: #fff; /* Fondo blanco para que resalte */
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column; /* Alinea el contenido en vertical */
    border: 2px solid #d3d9df;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.article img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
 
}
.article ul{
    font-size: 1em;
    line-height: 2;
    margin-bottom: 10px;
    list-style-type: none;
    padding-left: 20px;
}

#contenedor {
    display: flex;
    justify-content: center;
}
h2{ text-align: center;
    font-size: 1.5rem;
    color: var(--color-principal);
    margin-bottom: 1px;
}
h3{
    text-align: center;
    color: var(--color-principal);
    margin-bottom: 1px;
}